.layout-padding {
  padding-left: 1rem;

  padding-right: 1rem;
}

@media (min-width: 48em) {
  .layout-padding {
    padding-left: 2.5rem;

    padding-right: 2.5rem;
  }
}

@media (min-width: 64em) {
  .layout-padding {
    padding-left: 3rem;

    padding-right: 3rem;
  }
}

@media (min-width: 80em) {
  .layout-padding {
    padding-left: 4rem;

    padding-right: 4rem;
  }
}

.layout-content-container {
  margin-left: auto;

  margin-right: auto;
}

@media (min-width: 80em) {
  .layout-content-container {
    max-width: 1200px;
  }
}

.label-classes {
  @apply bg-mothGrey-0/40 p-1 md:p-4 text-mothBlack-0 font-black drop-shadow-[0_1.2px_1.2px_rgba(255,255,255,0.8)];
}
